<app-navbar-cards-cta [title]="'Administrador de Usuarios'" [ctaCards]="ctaCards"></app-navbar-cards-cta>

<!-- CASO DE USO PARA AGREGAR UN NUEVO USUARIO --->

<section class="m-5 mt-10">
  <h2 class="text-2xl font-medium text-[#3f51b5]">Complete la información para agregar a un nuevo usuario</h2>
  <p class="text-sm">Todos los campos son obligatorios</p>

  <form class="xs:w-full lg:w-2/4 mt-10 mb-20" [formGroup]="formNewUser" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Nombres Completos</mat-label>
      <input matInput placeholder="Nombre del usuario">
      <mat-hint>Ingrese un nombre valido</mat-hint>
      <mat-error class="text-xs text-red-600"
        *ngIf="formNewUser.get('nameUser')?.touched && formNewUser.get('nameUser')?.hasError('length')">
          El nombre <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Apellidos Completos</mat-label>
      <input matInput placeholder="Apellidos del usuario">
      <mat-hint>Ingrese un apellido valido</mat-hint>
      <mat-error class="text-xs text-red-600"
        *ngIf="formNewUser.get('lastNameUser')?.touched && formNewUser.get('lastNameUser')?.hasError('length')">
          El apellido <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Seleccione el tipo de documento</mat-label>
      <mat-select>
        <mat-option value="CC">Cedula de ciudadania</mat-option>
        <mat-option value="00">Otro</mat-option>
      </mat-select>
      <mat-hint>Seleccione un tipo de documento valido</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Número de documento</mat-label>
      <input matInput placeholder="Número de documento del usuario" type="number">
      <mat-hint>Ingrese un número de documento valido</mat-hint>
      <mat-error class="text-xs text-red-600"
        *ngIf="formNewUser.get('documentUser')?.touched && formNewUser.get('documentUser')?.hasError('length')">
          El nombre <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Correo electrónico del usuario" type="email">
      <mat-hint>Ingrese un correo electrónico valido</mat-hint>
      <mat-error class="text-xs text-red-600"
        *ngIf="formNewUser.get('correoUser')?.touched && formNewUser.get('correoUser')?.hasError('length')">
          El correo electrónico <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Número de celular</mat-label>
      <input matInput placeholder="Número de celular del usuario" type="number">
      <mat-hint>Ingrese un número de celular valido</mat-hint>
      <mat-error class="text-xs text-red-600"
        *ngIf="formNewUser.get('phoneUser')?.touched && formNewUser.get('phoneUser')?.hasError('length')">
          El número de celular <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Seleccione el rol del usuario</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option value="user">Usuario</mat-option>
        <mat-option value="admin">Administrador</mat-option>
      </mat-select>
      <mat-hint>Seleccione un tipo de documento valido</mat-hint>
    </mat-form-field>


    <div class="w-full mt-4">
      <button mat-flat-button color="primary" class="w-full">Guardar Usuario</button>
    </div>

  </form>

</section>
