<h1 class="title">Arquetipo Angular 15 Standalone</h1>
<h2>Hola Daniel</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quis ipsa tempora aliquam adipisci! Voluptatum aliquam repellat cumque blanditiis temporibus molestias iusto molestiae accusamus reprehenderit sed, tempore enim, libero rerum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, maiores. Adipisci accusamus inventore dolorem a illum assumenda repellat! Aperiam, aspernatur ducimus. Sequi, placeat impedit! Aut consectetur alias illo soluta sequi.</p>
