<app-tolbar-top [titleToolbar]="titleToolbar" />

<app-navbar-cards-cta [title]="'Que deseas hacer hoy?'" [ctaCards]="ctaCards" />

<section class="m-5 my-10">
  <div class="flex flex-wrap gap-10 justify-center items-center mt-10 w-full bg-[#eeeeee] rounded-xl h-full py-9 pb-20">
    <!--Número de Ususarios-->

    <app-card-dashboard [title]="'Usuarios registrados'" [count]="systemData.userCount">
      <ng-container icon> <app-icon-users /></ng-container>
    </app-card-dashboard>

    <!--Número de Administradores-->
    <app-card-dashboard [title]="'Administradores registrados'" [count]="systemData.adminCount">
      <ng-container icon> <app-icon-admins /></ng-container>
    </app-card-dashboard>

    <!--Número de Administradores-->
    <app-card-dashboard [title]="'Archivos cargados'" [count]="systemData.fileCount">
      <ng-container icon> <app-icon-files /></ng-container>
    </app-card-dashboard>

    <!--Número de Administradores-->
    <app-card-dashboard [title]="'Espacio ocupado'" [count]="systemData.totalSize">
      <ng-container icon> <app-icon-uploads /></ng-container>
    </app-card-dashboard>
  </div>
</section>
