<app-tolbar-top [titleToolbar]="titleToolbar"></app-tolbar-top>

<app-navbar-cards-cta [title]="'Que deseas hacer hoy?'" [ctaCards]="ctaCards"></app-navbar-cards-cta>

<section class="m-5 my-10">
  <!-- subscriptions -->
  <div
    class="flex gap-4 justify-center items-center mt-10 w-full bg-[#eeeeee] rounded-xl h-full py-9 pb-20">

      <!--Número de Ususarios-->
      <div class="flex flex-col py-8 px-0 min-w-[300px] rounded-xl bg-white shadow-xl translate-x-4 translate-y-4 w-96 md:w-auto">
        <div><app-icon-users /></div>
        <h2 class="mt-5 mb-0 leading-[100%] font-semibold text-center text-[4em]"> {{ systemData.userCount }} </h2>
        <p class="text-sm w-60 md:w-auto text-center">Usuarios registrados</p>
      </div>

      <!--Número de Administradores-->
      <div class="flex flex-col py-8 px-0 min-w-[300px] rounded-xl bg-white shadow-xl translate-x-4 translate-y-4 w-96 md:w-auto">
        <div><app-icon-admins /></div>
        <h2 class="mt-5 mb-0 leading-[100%] font-semibold text-center text-[4em]">{{ systemData.adminCount }}</h2>
        <p class="text-sm w-60 md:w-auto text-center">Administradores registrados</p>
      </div>

      <!--Número de Administradores-->
      <div class="flex flex-col py-8 px-0 min-w-[300px] rounded-xl bg-white shadow-xl translate-x-4 translate-y-4 w-96 md:w-auto">
        <div><app-icon-files /></div>
        <h2 class="mt-5 mb-0 leading-[100%] font-semibold text-center text-[4em]">{{ systemData.fileCount }}</h2>
        <p class="text-sm w-60 md:w-auto text-center">Archivos cargados</p>
      </div>

      <!--Número de Administradores-->
      <div class="flex flex-col py-8 px-0 min-w-[300px] rounded-xl bg-white shadow-xl translate-x-4 translate-y-4 w-96 md:w-auto">
        <div><app-icon-uploads /></div>
        <h2 class="mt-5 mb-0 leading-[100%] font-semibold text-center text-[4em]">{{ systemData.totalSize }}</h2>
        <p class="text-sm w-60 md:w-auto text-center">Espacio ocupado</p>
      </div>
  </div>
</section>
