table {
  width: 90%;
  box-shadow: none;

  tr.mat-mdc-row:hover {
    background-color: rgb(248 250 252) !important;
  }

  th, td {
    width: min-content;
  }

  th.is-actionShow, td.is-actionShow {
    width: 6% !important;
  }

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


